@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@400;500&display=swap");
/* BREAKPOINTS */
.primary-color {
  color: #cf0010;
}

.button {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  font-weight: 600;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.button:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.button.button-primary {
  background-color: #cf0010;
}

.button.button-primary:hover {
  background-color: #b6000e;
  color: white;
}

.button.button-blue {
  background-color: #0d6efd;
}

.button.button-blue:hover {
  background-color: #267dfd;
}

.button.button-black {
  background-color: black;
}

.button.button-black:hover {
  background-color: #0d0d0d;
}

.button.button-grey {
  background-color: #9d9d9d;
}

.button.button-grey:hover {
  background-color: #aaaaaa;
  color: white;
}

.button.button-grey-black {
  background-color: #eaeaea;
  color: black;
}

.button.button-grey-black:hover {
  background-color: #f7f7f7;
  color: black;
}

.button.button-hollow-black {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.button.button-cancel {
  background-color: #b7b7b7;
}

.button.button-cancel:hover {
  background-color: #c4c4c4;
}

.header {
  background-image: url("images/header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 1rem;
}

.header .row {
  margin: 0;
}

.header .menu-top {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0px 0px 20px 20px;
  padding: 10px 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
}

.header .menu-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header .menu-top ul li {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid black;
  font-weight: 500;
  line-height: 1.25rem;
}

.header .menu-top ul li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}

.header .logo {
  text-align: center;
  color: white;
}

.header .logo img {
  max-width: 175px;
  margin-bottom: 0.5rem;
}

.header .logo h4 {
  font-size: 24px;
  font-weight: 600;
}

.header .menu-main {
  padding: 1rem 0;
  margin-bottom: 0;
}

.header .menu-main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
}

.header .menu-main ul li {
  margin: 0 1.5rem;
  padding-bottom: 4px;
  font-weight: 500;
  line-height: 1.25rem;
  position: relative;
  border-bottom: 3px solid transparent;
}

.header .menu-main ul li:after {
  width: 2px;
  background-color: white;
  height: 80%;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -1.5rem;
  position: absolute;
}

.header .menu-main ul li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}

.header .menu-main ul li:last-child:after {
  display: none;
}

.header .menu-main ul li.active,
.header .menu-main ul li:hover {
  border-bottom: 3px solid #cf0010;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media (max-width: 60em) {
  .header .menu-top,
  .header .menu-main {
    width: 100%;
  }
  .header .menu-top {
    padding: 10px 2rem;
  }
  .header .menu-top ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: -0.5rem;
  }
  .header .menu-top ul li {
    margin-bottom: 0.5rem;
  }
  .header .menu-main {
    overflow-x: auto;
  }
  .header .menu-main ul {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .header .menu-main ul li {
    white-space: nowrap;
    margin: 0 1.5rem;
  }
  .header .menu-main ul li:after {
    right: -1.5rem;
  }
  .header .menu-main ul li:first-child {
    margin-left: 0;
  }
  .header .search-bar {
    padding: 1rem 0;
  }
  .header .search-bar .where,
  .header .search-bar .date {
    margin-bottom: 1rem;
  }
  .header .search-bar .where .form-select {
    width: 100%;
  }
  .header .search-bar .search {
    padding-left: 0;
  }
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  border: 1px solid lightgray;
  width: 100%;
  margin-bottom: 2rem;
}

@media (max-width: 60em) {
  .search-bar {
    width: 100%;
  }
}

.search-bar .container-fluid {
  padding: 0;
}

.search-bar .where,
.search-bar .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-right: 1px solid lightgray;
}

.search-bar .where .form-select {
  border: none;
  text-align: center;
  width: 80%;
  margin: auto;
}

.search-bar .where .form-select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-bar .date {
  position: relative;
  cursor: pointer;
}

.search-bar .date span {
  margin-right: 0.5rem;
}

.search-bar .date input {
  visibility: hidden;
  width: 0;
  position: absolute;
  left: 0;
}

.search-bar .search {
  padding-left: 1rem;
}

.search-bar .search .form-control {
  margin-right: 1rem;
}

.content {
  padding: 2rem 0;
}

.form-control,
.form-select {
  border-radius: 0;
  color: #2b2b2b;
}

.form-control:focus,
.form-select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.primary-color {
  color: #cf0010;
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.page-title span {
  text-transform: capitalize;
}

.left-title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.found-results {
  margin-bottom: 1rem;
}

.search-filter {
  background-color: black;
  padding: 1.5rem 1rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: auto;
  position: relative;
}

@media (max-width: 60em) {
  .search-filter {
    width: 100%;
    padding: 1rem 0.5rem;
    font-size: 0.85rem;
  }
}

.search-filter .form-control {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding-left: 2rem;
  width: 90%;
  margin-right: 1rem;
}

.search-filter .form-control::-webkit-input-placeholder {
  font-weight: 500;
  color: white;
}

.search-filter .icon-search {
  color: white;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1rem;
}

.filter-items {
  background-color: #3f3f3f;
  color: white;
  width: 85%;
  margin: auto;
  margin-bottom: 2rem;
  position: relative;
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0;
}

.filter-items .row {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.filter-items.active {
  height: auto;
  opacity: 1;
  visibility: visible;
  padding: 1rem;
}

.filter-items.active .row {
  height: auto;
  opacity: 1;
  visibility: visible;
}

.filter-items:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 20px;
  width: 0;
  height: 0;
  border-bottom: solid 10px #3f3f3f;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

@media (max-width: 60em) {
  .filter-items {
    width: 100%;
    padding: 1rem 0.5rem;
    font-size: 0.85rem;
  }
}

.table-overflow {
  overflow-x: auto;
}

.table {
  font-size: 0.8rem;
}

.table .table-dark {
  --bs-table-bg: black !important;
  vertical-align: top;
}

@media (min-width: 64em) {
  .table th,
  .table td {
    padding: 1rem;
    font-size: 1rem;
  }
}

.report-selection {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid lightgray;
}

.report-selection .title {
  color: gray;
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.report-selection .form-check-input:checked {
  background-color: black;
}

.report-selection .form-check-input:focus {
  border-color: gray;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.report-selection .button {
  padding: 0.5rem 4rem;
}

.pagination .page-item .page-link {
  color: black;
}

.pagination .page-item .page-link:hover {
  background-color: #dadada;
}

.pagination .page-item .page-link:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(168, 168, 168, 0.25);
  box-shadow: 0 0 0 0.25rem rgba(168, 168, 168, 0.25);
}

.pagination .page-item.active .page-link {
  background-color: black;
  border-color: black;
  color: white;
}

.login {
  width: 100%;
  background-image: url("images/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  width: 90%;
  margin: auto;
}

.login .content form {
  width: 100%;
  margin-bottom: 4rem;
}

.login .content form .form-control,
.login .content form .form-select {
  text-align: center;
  font-size: 24px;
  padding: 6px 12px !important;
}

.login .content form .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.login .content form .btn-wrapper .button {
  padding: 0.5rem 4rem;
  font-size: 24px;
}

.login .content form .forgot-pass {
  text-align: center;
  color: white;
  font-weight: 700;
  text-decoration: underline;
}

.login .content .logo {
  color: white;
  text-align: center;
}

.login .content .logo img {
  margin-bottom: 1rem;
}

.login .content .logo h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
}

@media (min-width: 64em) {
  .login .content {
    max-width: 20%;
    margin: auto;
  }
}

.take-booking {
  padding: 2rem 0;
  width: 70%;
  margin: auto;
}

.take-booking .book-control {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

.take-booking .book-control .button {
  font-weight: 500;
  min-width: 173px;
}

.take-booking .book-control .basket a {
  text-decoration: underline;
}

.take-booking .item-wrapper {
  margin-bottom: 2rem;
}

.take-booking .item-card {
  border: 1px solid #dcdcdc;
  height: 100%;
}

.take-booking .item-card .item-header {
  position: relative;
}

.take-booking .item-card .item-header .item-img img {
  width: 100%;
}

.take-booking .item-card .item-header .item-type {
  position: absolute;
  right: 0;
  top: 0.5rem;
  text-align: end;
}

.take-booking .item-card .item-header .item-type img {
  width: 28px;
  padding: 3px;
  background-color: rgba(36, 36, 36, 0.8);
  border-radius: 50%;
  margin-bottom: 4px;
  margin-right: 0.25rem;
}

.take-booking .item-card .item-header .item-type .type-text {
  padding: 2px 6px;
  color: white;
  font-size: 12px;
  border-radius: 15px 0 0 15px;
  background-color: rgba(36, 36, 36, 0.8);
}

.take-booking .item-card .item-body {
  padding: 10px;
}

.take-booking .item-card .item-body .item-title,
.take-booking .item-card .item-body .item-price,
.take-booking .item-card .item-body .item-desc {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: #3e3e3e;
}

.take-booking .item-card .item-body .item-title,
.take-booking .item-card .item-body .item-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.take-booking .item-card .item-body .item-price {
  font-size: 12px;
}

.take-booking .item-card .item-body .item-desc {
  font-size: 14px;
}

.take-booking .item-card .item-body .item-more {
  color: #cf0010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.take-booking .item-card .item-body .item-more img {
  margin-right: 0.5rem;
}

@media (max-width: 37.5em) {
  .take-booking .book-control {
    display: block;
  }
  .take-booking .book-control .btn-wrapper {
    margin-bottom: 1rem;
  }
}

@media (max-width: 60em) {
  .take-booking {
    width: 100%;
  }
}

.offcanvas {
  width: 50vw;
}

@media (max-width: 60em) {
  .offcanvas {
    width: 100vw;
  }
}

.offcanvas .oc-title {
  font-size: 22px;
  margin-bottom: 0.5rem;
}

.offcanvas .oc-image {
  margin-bottom: 1.5rem;
}

.offcanvas .oc-image img {
  width: 100%;
}

.offcanvas .oc-price,
.offcanvas .oc-desc,
.offcanvas .oc-type {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
}

.offcanvas .oc-price {
  font-size: 20px;
}

.offcanvas .oc-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #cf0010;
  font-weight: 500;
  margin-bottom: 4.5rem;
}

.offcanvas .choose-date {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 0.75rem;
  -webkit-box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.15);
  border-top: 2px solid #cf0010;
  margin-bottom: 2rem;
}

.offcanvas .choose-date .button-next {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 1rem;
  background-color: #cf0010;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.offcanvas .choose-date .button-next:hover,
.offcanvas .choose-date .button-next:focus {
  background-color: #ff0316;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.offcanvas .choose-date .choose-text {
  margin-right: 1.25rem;
}

.offcanvas .choose-date .choose-input {
  position: relative;
  margin-right: 1.25rem;
}

.offcanvas .choose-date .choose-input .icon-calendar {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -2px;
}

.offcanvas .booking-detail .booking-product {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid gray;
}

.offcanvas .booking-detail .booking-header {
  margin-bottom: 2rem;
}

.offcanvas .booking-detail .booking-header .booking-title {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

.offcanvas .booking-detail .booking-header .booking-max-guest {
  font-size: 14px;
  margin-bottom: 0.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.offcanvas .booking-detail .booking-header .booking-more {
  font-size: 14px;
  text-decoration: underline;
}

.offcanvas .booking-detail .booking-content {
  padding: 0 0.5rem;
}

.offcanvas .booking-detail .booking-start-date {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.offcanvas .booking-detail .booking-start-date .start-date-text {
  margin-bottom: 1rem;
}

.offcanvas .booking-detail .booking-start-date .booking-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offcanvas .booking-detail .booking-start-date .booking-widget .nav-button {
  padding: 0 0.75rem;
  cursor: pointer;
}

.offcanvas .booking-detail .booking-start-date .booking-widget .calendars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 37.5em) {
  .offcanvas .booking-detail .booking-start-date .booking-widget .calendars {
    overflow-x: auto;
  }
}

.offcanvas
  .booking-detail
  .booking-start-date
  .booking-widget
  .calendars
  .calendar-item {
  padding: 1rem;
  text-align: center;
  border: 2px solid lightgray;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.offcanvas
  .booking-detail
  .booking-start-date
  .booking-widget
  .calendars
  .calendar-item
  .month {
  font-size: 12px;
}

.offcanvas
  .booking-detail
  .booking-start-date
  .booking-widget
  .calendars
  .calendar-item
  .date {
  font-size: 22px;
  margin-bottom: 1.5rem;
}

.offcanvas
  .booking-detail
  .booking-start-date
  .booking-widget
  .calendars
  .calendar-item
  .select {
  font-size: 14px;
  margin-top: 1rem;
}

.offcanvas
  .booking-detail
  .booking-start-date
  .booking-widget
  .calendars
  .calendar-item.disabled {
  background-color: lightgray;
}

.offcanvas
  .booking-detail
  .booking-start-date
  .booking-widget
  .calendars
  .calendar-item.selected,
.offcanvas
  .booking-detail
  .booking-start-date
  .booking-widget
  .calendars
  .calendar-item:not(.disabled):hover {
  background-color: #cf0010;
  color: white;
  border-color: #cf0010;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.offcanvas .booking-detail .booking-options {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid lightgray;
}

.offcanvas .booking-detail .booking-options .options-text {
  margin-bottom: 0.5rem;
}

.offcanvas .booking-detail .booking-options .options-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offcanvas .booking-detail .booking-options .options-selection select {
  width: 35%;
  margin-right: 1rem;
}

.offcanvas .booking-detail .add-to-basket {
  margin-top: 2rem;
}

.offcanvas .booking-detail .add-to-basket .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5rem;
  width: 60%;
}

.offcanvas .booking-detail .add-to-basket .price .price-text {
  width: 50%;
}

.offcanvas .booking-detail .add-to-basket .button {
  font-size: 1rem;
  padding: 0.75rem 3rem;
}

@media (max-width: 37.5em) {
  .offcanvas .booking-detail .add-to-basket .button {
    padding: 0.75rem 1rem;
    font-size: 0.75rem;
  }
}

.offcanvas .booking-detail .add-to-basket .total {
  font-size: 2rem;
  margin-top: 1rem;
}

.your-basket .content {
  padding: 4rem 0;
}

.your-basket .content .content-header .button {
  padding: 0.5rem 3rem;
}

.your-basket .content .content-header .header-text {
  margin: 1.5rem 0;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid lightgrey;
}

.your-basket .content .content-header .header-text h4 {
  font-weight: 700;
  font-size: 26px;
}

.your-basket .content .content-body .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.your-basket .content .content-body .button-wrapper .button {
  width: 50%;
  padding: 0.75rem;
}

.your-basket .content .content-body .basket-container {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-weight: 400;
}

.your-basket .content .content-body .basket-container .basket-header {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 1rem 1.25rem;
}

.your-basket .content .content-body .basket-container .basket-body {
  padding: 1.25rem;
  background: #f3f3f3;
  margin-bottom: 1rem;
}

@media (max-width: 37.5em) {
  .your-basket .content .content-body .basket-container .basket-body {
    padding: 1rem;
  }
}

.your-basket
  .content
  .content-body
  .basket-container
  .basket-body
  .basket-desc {
  margin-bottom: 1.5rem;
}

.your-basket
  .content
  .content-body
  .basket-container
  .basket-body
  .basket-item {
  padding: 1.25rem;
  background-color: white;
  margin-bottom: 0.5rem;
}

.your-basket
  .content
  .content-body
  .basket-container
  .basket-body
  .basket-item
  .title {
  font-size: 20px;
  margin-bottom: 0.75rem;
}

.your-basket
  .content
  .content-body
  .basket-container
  .basket-body
  .basket-item
  .action {
  margin-top: 1rem;
}

.your-basket
  .content
  .content-body
  .basket-container
  .basket-body
  .basket-item
  .action
  .button {
  font-weight: 400;
  padding: 0.75rem 1rem;
  min-width: 150px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 4px;
  border-color: gray;
  font-size: 18px;
}

.your-basket
  .content
  .content-body
  .basket-container
  .basket-body
  .basket-item
  .action
  .button
  .fa-trash {
  color: #cf0010;
}

.your-basket
  .content
  .content-body
  .basket-container
  .basket-body
  .basket-item
  .price-img {
  text-align: end;
  margin-bottom: 1.5rem;
}

.your-basket
  .content
  .content-body
  .basket-container
  .basket-body
  .basket-item
  .price-img
  img {
  width: 4rem;
}

.your-basket
  .content
  .content-body
  .basket-container
  .basket-body
  .basket-item
  .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 37.5em) {
  .your-basket
    .content
    .content-body
    .basket-container
    .basket-body
    .basket-item {
    padding: 1rem;
  }
  .your-basket
    .content
    .content-body
    .basket-container
    .basket-body
    .basket-item
    .price-container {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .your-basket
    .content
    .content-body
    .basket-container
    .basket-body
    .basket-item
    .price-container
    .price {
    width: 50%;
  }
  .your-basket
    .content
    .content-body
    .basket-container
    .basket-body
    .basket-item
    .price-container
    .price-img {
    margin-bottom: 0;
  }
  .your-basket
    .content
    .content-body
    .basket-container
    .basket-body
    .basket-item
    .price-container
    .price-img
    img {
    width: 3rem;
  }
  .your-basket
    .content
    .content-body
    .basket-container
    .basket-body
    .basket-item
    .action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .your-basket
    .content
    .content-body
    .basket-container
    .basket-body
    .basket-item
    .action
    .button {
    min-width: 120px;
  }
}

.your-basket
  .content
  .content-body
  .basket-container
  .basket-body
  .basket-total {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 24px;
}

.your-basket
  .content
  .content-body
  .basket-container
  .basket-footer
  .footer-desc {
  margin-bottom: 3rem;
}

.your-basket .content .content-body .basket-container .basket-footer .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.your-basket
  .content
  .content-body
  .basket-container
  .basket-footer
  .action
  .button {
  width: 49%;
  padding: 1rem;
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 37.5em) {
  .your-basket .content .content-body .basket-container .basket-footer .action {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .your-basket
    .content
    .content-body
    .basket-container
    .basket-footer
    .action
    .button {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.edits .content-header .action-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.edits .content-header .header-title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.edits .content-header .header-text {
  padding: 1rem 0;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem;
}

.edits .content-header .header-text small {
  font-size: 12px;
}

.edits .content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2rem;
}

.edits .content-footer .btn-wrapper .button:first-child {
  margin-right: 0.5rem;
}

.edits .status {
  margin-bottom: 3rem;
}

.edits .current-booking {
  border-bottom: 1px solid lightgray;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

.edits .current-booking .title {
  border-bottom: 1px solid lightgray;
  font-size: 1.15rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
}

.edits .current-confirmation {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  margin-bottom: 1.5rem;
  padding: 1rem 0;
}

.edits .total {
  margin-bottom: 3rem;
}

.edits .total .d-flex:not(:last-child) {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.edits .amandments {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.edits .amandments .title {
  font-size: 1.15rem;
  margin-bottom: 0.5;
  padding-bottom: 1rem;
  font-weight: 700;
}

.admin .content-body {
  margin-top: 2rem;
}

.admin .content-body .item-link {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1.25rem;
}

.admin .content-body .item-link h4 {
  font-size: 18px;
}

.admin .content-body .item-link img {
  width: 20px;
  height: 20px;
}

.admin .content-body .form-groups {
  margin-bottom: 3.5rem;
}

.admin .content-body .form-groups .form-title {
  padding: 0.5rem 1.5rem;
  background-color: black;
  color: white;
  margin-bottom: 18px;
}

.admin .content-body .form-groups .form-item {
  padding-left: 1.5rem;
  width: 60%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 60em) {
  .admin .content-body .form-groups .form-item {
    width: 100%;
    padding-left: 0;
  }
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.form-button.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-button.column .button {
  text-align: center;
  min-width: 250px;
}

.form-button.column .button:first-child {
  margin-bottom: 1rem;
}

.form-button .button {
  width: 200px;
}

.form-accordion .accordion-item {
  border: none;
  font-size: 14px;
}

.form-accordion .accordion-item .accordion-button {
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  font-weight: bold;
  font-size: 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0.75rem 1.25rem;
}

.form-accordion .accordion-item .accordion-button:after {
  background-image: none;
  content: "+";
  font-weight: 400;
  font-size: 18px;
}

.form-accordion .accordion-item .accordion-button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-accordion .accordion-item .accordion-button:not(.collapsed) {
  background-color: #eaeaea;
  border: none;
  color: black;
}

.form-accordion .accordion-item .accordion-button:not(.collapsed):after {
  content: "-";
  -webkit-transform: none;
  transform: none;
}

.form-accordion .accordion-item .accordion-body {
  background-color: #eaeaea;
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-accordion .accordion-item .accordion-body .btn-wrapper {
  margin-top: 1rem;
  margin-right: 4rem;
}

.form-accordion .accordion-item .accordion-body .btn-wrapper .button {
  min-width: 120px;
  font-size: 1rem;
}

@media (max-width: 60em) {
  .form-accordion .accordion-item .accordion-body .btn-wrapper {
    margin: 0;
  }
  .form-accordion .accordion-item .accordion-body .btn-wrapper .button {
    font-size: 0.85rem;
    min-width: 0;
  }
}

.settings hr {
  margin: 1.5rem 0;
  background-color: gray;
}

.settings .content-body {
  margin-bottom: 2rem;
}

.settings .content-body .form-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: gray;
  font-weight: 500;
  font-size: 18px;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */
