.button {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  outline: none;
  user-select: none;
  border: none;
  font-weight: 600;
  transition: all 0.2s ease;

  &:hover {
    transition: all 0.2s ease;
  }

  &.button-primary {
    background-color: $primary;

    &:hover {
      background-color: darken($color: $primary, $amount: 5%);
      color: white;
    }
  }

  &.button-blue {
    background-color: #0d6efd;

    &:hover {
      background-color: lighten($color: #0d6efd, $amount: 5%);
    }
  }

  &.button-black {
    background-color: black;

    &:hover {
      background-color: lighten($color: black, $amount: 5%);
    }
  }

  &.button-grey {
    background-color: #9d9d9d;

    &:hover {
      background-color: lighten($color: #9d9d9d, $amount: 5%);
      color: white;
    }
  }

  &.button-grey-black {
    background-color: #eaeaea;
    color: black;

    &:hover {
      background-color: lighten($color: #eaeaea, $amount: 5%);
      color: black;
    }
  }

  &.button-hollow-black {
    background-color: transparent;
    color: black;
    border: 1px solid black;
  }

  &.button-cancel {
    background-color: #b7b7b7;

    &:hover {
      background-color: lighten($color: #b7b7b7, $amount: 5%);
    }
  }
}
