.header {
  background-image: url("images/header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 1rem;

  .row {
    margin: 0;
  }

  .menu-top {
    background-color: rgba($color: white, $alpha: 0.8);
    border-radius: 0px 0px 20px 20px;
    padding: 10px 4rem;
    width: fit-content;
    margin: auto;
    margin-bottom: 2rem;

    ul {
      display: flex;
      justify-content: center;

      li {
        margin-right: 1rem;
        padding-right: 1rem;
        border-right: 1px solid black;
        font-weight: 500;
        line-height: 1.25rem;

        &:last-child {
          margin-right: 0;
          padding-right: 0;
          border-right: 0;
        }
      }
    }
  }

  .logo {
    text-align: center;
    color: white;

    img {
      max-width: 175px;
      margin-bottom: 0.5rem;
    }

    h4 {
      font-size: 24px;
      font-weight: 600;
    }
  }

  .menu-main {
    padding: 1rem 0;
    margin-bottom: 0;
    ul {
      display: flex;
      justify-content: center;
      color: white;

      li {
        margin: 0 1.5rem;
        padding-bottom: 4px;
        font-weight: 500;
        line-height: 1.25rem;
        position: relative;
        border-bottom: 3px solid transparent;

        &:after {
          width: 2px;
          background-color: white;
          height: 80%;
          content: "";
          top: 50%;
          transform: translateY(-50%);
          right: -1.5rem;
          position: absolute;
        }

        &:last-child {
          margin-right: 0;
          padding-right: 0;
          border-right: 0;

          &:after {
            display: none;
          }
        }

        &.active,
        &:hover {
          border-bottom: 3px solid $primary;
          transition: all 0.2s ease;
        }
      }
    }
  }

  @include breakpoint(untilTablet) {
    .menu-top,
    .menu-main {
      width: 100%;
    }

    .menu-top {
      padding: 10px 2rem;
      ul {
        flex-wrap: wrap;
        margin-bottom: -0.5rem;

        li {
          margin-bottom: 0.5rem;
        }
      }
    }

    .menu-main {
      overflow-x: auto;

      ul {
        justify-content: start;

        li {
          white-space: nowrap;
          margin: 0 1.5rem;

          &:after {
            right: -1.5rem;
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .search-bar {
      padding: 1rem 0;
      .where,
      .date {
        margin-bottom: 1rem;
      }

      .where {
        .form-select {
          width: 100%;
        }
      }

      .search {
        padding-left: 0;
      }
    }
  }
}

.search-bar {
  display: flex;
  padding: 12px;
  border: 1px solid lightgray;
  width: 100%;
  margin-bottom: 2rem;

  @include breakpoint(untilTablet) {
    width: 100%;
  }

  .container-fluid {
    padding: 0;
  }

  .where,
  .date {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid lightgray;
  }

  .where {
    .form-select {
      border: none;
      text-align: center;
      width: 80%;
      margin: auto;
      &:focus {
        box-shadow: none;
      }
    }
  }

  .date {
    position: relative;
    span {
      margin-right: 0.5rem;
    }
    cursor: pointer;
    input {
      visibility: hidden;
      width: 0;
      position: absolute;
      left: 0;
    }
  }

  .search {
    padding-left: 1rem;
    .form-control {
      margin-right: 1rem;
    }
  }
}

.content {
  padding: 2rem 0;
}

.form-control,
.form-select {
  border-radius: 0;
  color: #2b2b2b;

  &:focus {
    box-shadow: none;
  }
}

.primary-color {
  color: $primary;
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;

  span {
    text-transform: capitalize;
  }
}

.left-title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.found-results {
  margin-bottom: 1rem;
}

.search-filter {
  background-color: black;
  padding: 1.5rem 1rem;
  color: white;
  display: flex;
  width: 85%;
  margin: auto;
  position: relative;

  @include breakpoint(untilTablet) {
    width: 100%;
    padding: 1rem 0.5rem;
    font-size: 0.85rem;
  }

  .form-control {
    @include roboto();
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding-left: 2rem;
    width: 90%;
    margin-right: 1rem;

    &::-webkit-input-placeholder {
      font-weight: 500;
      color: white;
    }
  }

  .icon-search {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
  }
}

.filter-items {
  background-color: rgb(63, 63, 63);
  color: white;
  width: 85%;
  margin: auto;
  margin-bottom: 2rem;
  position: relative;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  padding: 0;

  .row {
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  &.active {
    height: auto;
    opacity: 1;
    visibility: visible;
    padding: 1rem;

    .row {
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-bottom: solid 10px rgb(63, 63, 63);
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
  }

  @include breakpoint(untilTablet) {
    width: 100%;
    padding: 1rem 0.5rem;
    font-size: 0.85rem;
  }
}

.table-overflow {
  overflow-x: auto;
}

.table {
  .table-dark {
    --bs-table-bg: black !important;
    vertical-align: top;
  }
  font-size: 0.8rem;
  @include breakpoint(laptop) {
    th,
    td {
      padding: 1rem;
      font-size: 1rem;
    }
  }
}

.report-selection {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid lightgray;

  .title {
    color: gray;
    margin-bottom: 0.5rem;
    font-size: 20px;
  }

  .form-check-input:checked {
    background-color: black;
  }
  .form-check-input:focus {
    border-color: gray;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
  }
  .button {
    padding: 0.5rem 4rem;
  }
}

.pagination {
  .page-item {
    .page-link {
      color: black;

      &:hover {
        background-color: rgb(218, 218, 218);
      }

      &:focus {
        box-shadow: 0 0 0 0.25rem rgba(168, 168, 168, 0.25);
      }
    }
    &.active {
      .page-link {
        background-color: black;
        border-color: black;
        color: white;
      }
    }
  }
}
