.edits {
    .content-header {
        .action-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;
        }

        .header-title {
            font-weight: 600;
            font-size: 22px;
            margin-bottom: 1rem;
        }

        .header-text {
            padding: 1rem 0;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            margin-bottom: 2rem;

            small {
                font-size: 12px;
            }
        }
    }

    .content-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;

        .btn-wrapper {
            .button:first-child{
                margin-right: .5rem;
            }
        }
    }
}